{% import "macros/tokens.html" as tokens %}
{% import "macros/modals.html" as modals %}

{% macro markets(current_user, market_movers, recommended, orders, trades) %}
    <!-- Row 1 -->
    <section class="w3-row">
        <!-- Market movers -->
        <h3>Market Movers</h3>
        <div class="w3-row-padding w3-leftbar w3-border-blue">
            {% for token in market_movers %}
                <div class="w3-col s2">
                    {{ tokens.generic(token) }}
                </div>
            {% endfor %}
        </div>
    </section>
    
    <br>

    <!-- Row 2 -->
    <section class="w3-row">
        <!-- Recommended -->
        <div class="w3-row">
            <h3 class="w3-col s2">Recommended</h3>
            <div class="w3-col s1">
                <button onclick="document.getElementById('token_modal').style.display='block'"
                class="w3-button w3-round-xxlarge">&quest;</button>
            </div>
        </div>

        <div class="w3-row-padding w3-leftbar w3-border-blue">
            {% for token in recommended %}
                <div class="w3-col s2">
                    {{ tokens.generic(token) }}
                </div>
            {% endfor %}
        </div>
    </section>
    
    <br>
    
    <!-- Row 3 Labels -->
    <section class="w3-row-padding">
        <div class="w3-col s7">
            <h3>Indices</h3>
        </div>
        <div class="w3-col s5">
            <h3>Your Token</h3>
        </div>
    </section>
    
    <!-- Row 4 -->
    <section class="w3-row-padding">
        <!-- Indices -->
        <div class="w3-col s7 w3-leftbar w3-border-blue">
            <div class="w3-bar">
                <a class="w3-bar-item w3-button w3-border w3-hover-blue" onclick="openIndex('zzz')">ZZZ</a>
                <a class="w3-bar-item w3-button w3-border w3-hover-blue" onclick="openIndex('custom1')">Custom1</a>
                <a class="w3-bar-item w3-button w3-border 3-hover-blue" onclick="openIndex('custom2')">Custom2</a>
            </div>
            
            <div id="zzz" class="index">
                <img src="{{ url_for('static', filename='/img/zzz_index.png') }}"></img>
            </div>
            
            <div id="custom1" class="index" style="display:none">
                <img src="{{ url_for('static', filename='/img/custom1_index.png') }}"></img>
            </div>
            
            <div id="custom2" class="index" style="display:none">
                <img src="{{ url_for('static', filename='/img/custom2_index.png') }}"></img>
            </div>
        </div>
        
        <!-- Your Token -->
        <div class="w3-col s5 w3-leftbar w3-border-blue">
            {% if current_user.token %}
                <div class="w3-row">
                    <div class="w3-col s3 w3-padding-medium w3-border">
                        <p>Price details</p>
                    </div>
                    <div class="w3-col s3 w3-padding-medium w3-border">
                        <p>Ownership</p>
                    </div>
                    <div class="w3-col s6 w3-padding-medium w3-border">
                        <p>Pressure</p>
                    </div>
                </div>
            {% endif %}
            {% if not current_user.token %}
                <div class="w3-padding-medium w3-border">
                    <a href="{{ url_for('issuer') }}">
                        <button class="w3-button">Issue a Token</button>
                    </a>
                </div>

            {% endif %}
        </div>
    </section>
    
    <!-- Row 4 -->
    <section class="w3-row-padding">
        
        <!-- Orders -->
        <h3>Pending Orders</h3>
        <div class="w3-padding-medium w3-leftbar w3-border-blue">
            {% if orders %}
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Token ID</th>
                        <th>Type</th>
                        <th>Quantity</th>
                        <th>Token Page</th>
                    </tr>
                <!-- Fills Table -->
                {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.token_id }}</td>
                        <td>{{ order.type }}</td>
                        <td>{{ order.quantity }}</td>
                        <td><a href="{{ url_for('token', token_id=order.token_id) }}">Link</a></td>
                    </tr>
                {% endfor %}
                </table>
            {% endif %}
            {% if not orders %}
                <p>Orders you place will appear here.</p>
            {% endif %}
        </div>
    </section>
    
    <!-- Row 5 -->
    <section class="w3-row-padding">
        <!-- Trades -->
        <h3>Recent Trades</h3>
        <div class="w3-padding-medium w3-leftbar w3-border-blue">
            {% if trades %}
                <table>
                    <tr>
                        <th>Token</th>
                        <th>Buyer</th>
                        <th>Seller</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>
                <!-- Fills Table -->
                {% for trade in trades %}
                    <tr>
                        <td>{{ trade.token_id.name}}</td>
                        <td>{{ trade.buyer_id.username }}</td>
                        <td>{{ trade.seller_id.username }}</td>
                        <td>{{ trade.price }}</td>
                        <td>{{ trade.quantity }}
                    </tr>
                {% endfor %}
                </table>
            {% endif %}
            {% if not trades %}
                <p>Trades that are settled will appear here.</p>
            {% endif %}
        </div>
    </section>
    
    <!-- Token Modal -->
    <div id="token_modal" class="w3-modal">
        <div class="w3-modal-content">
            {{ modals.generic("some_random_url") }}
        </div>
    </div>
    
    <!-- openIndex tabs function -->
    <script>
    function openIndex(indexName) {
      var i;
      var x = document.getElementsByClassName("index");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      document.getElementById(indexName).style.display = "block";
    }
    </script>

{% endmacro %}