{% extends "base.html" %}

{% block title %} Issuer {% endblock %}

{% block content %}

    {% if not current_user.token %}
        <section class="w3-container">
            <p class="w3-center">Issue a Token</p>
            <div class="issue-token w3-container w3-border w3-padding-large">
                <form action="{{ url_for('issuer') }}", method="POST">
                    <!-- Token Username -->
                    <div class="form-field"> 
                        {{ form.token_name.label }}
                        {{ form.token_name }}
                        {% for error in form.token_name.errors %}
                            <li>{{error}}</li>
                        {% endfor %}
                    </div>
                    <!-- Token Symbol -->
                    <div class="form-field">
                        {{ form.token_symbol.label }}
                        {{ form.token_symbol }}
                        {% for error in form.token_symbol.errors %}
                            <li>{{error}}</li>
                        {% endfor %}
                    </div>
                    <!-- Total Supply -->
                    <div class="form-field">
                        {{ form.total_supply.label }}
                        {{ form.total_supply }}
                        {% for error in form.total_supply.errors %}
                            <li>{{error}}</li>
                        {% endfor %}
                    </div>
                    {{ form.submit }}
                    <!-- CSRF protection -->
                    {{ form.csrf_token  }}
                </form>
            </div>
        </section>
    {% endif %}
        
    {% if current_user.token %}
        <section class="w3-padding-large">
            <!-- Row 1: Labels -->
            <div class="w3-row">
                <div class="w3-col s3"
                    <!-- Top Left -->
                    <p>Token Details</p>
                </div>
                <div class="w3-col s9">
                
                    <!-- Top Right -->
                    <p>Price Graph</p>
                </div>
            </div>
            <!-- Row 2: Content -->
            <div class="w3-row">
                <div class="w3-col s3 w3-padding-large w3-border">
                    {% if current_user.token %}
                        <p>{{ current_user.token.name }}</p>
                        <p>{{ current_user.token.symbol }}</p>
                        <p>{{ current_user.token.total_supply }}</p>
                    {% endif %}
                    {% if not current_user.token %}
    
                    {% endif %}
                </div>
                <div class="w3-col s9 w3-border w3-padding-large">
                    <p>Price Graph Details </p>
                </div>
            </div>
            
            
            <!-- Row 3: Labels -->
            <div class="w3-row">
            
                <!-- Ownership of Tokens -->
                <div class="w3-col s6">
                    <p>Shareholders</p>
                </div>
                
                <!-- Price Details -->
                <div class="w3-col s6">
                    <p>Trading Price</p>
                </div>
            </div>
            
            <!-- Row 4: Content -->
            <div class="w3-row">
                <div class="w3-col s6 w3-border w3-padding-large">
                    <p>Pie Graph</p>
                </div>
                <div class="w3-col s6 w3-border w3-padding-large">
                    <p>Pricing details and pressure</p>
                </div>
            </div>
            
        </section>
    {% endif %}


{% endblock %}