{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

    <h1>Login</h1>
    
    <form action="{{ url_for('login') }}", method="POST">

        <div class="form-field">
            {{ form.username.label }}
            {{ form.username }}
            {% for error in form.username.errors %}
                <li>{{error}}</li>
            {% endfor %}
        </div>

        <div class="form-field">
            {{ form.password.label }}
            {{ form.password }}
            {% for error in form.password.errors %}
                <li>{{error}}</li>
            {% endfor %}
        </div>

        {{ form.submit }}
        
        <!-- CSRF protection -->
        {{ form.csrf_token  }}
        
    </form>

{% endblock %}